@model FabricantesModel
@{
    ViewData["Title"] = "Cadastro de Fabricantes";
}

<div class="text-center">
    <h3 style="color:#585858">Cadastro de Fabricantes</h3>
</div>

<form asp-controller="Fabricantes" asp-action="Cadastrar" method="post" class="row g-3 ">

    <div class="row-cols-md-6" >
        <label for="nomeFabricante" class="form-label">Nome do Fabricante</label>
        <input type="text" asp-for="Fabricante" class="form-control" placeholder="Digite o nome do fabricante">
        @Html.ValidationMessageFor(x => x.Fabricante)
    </div>

    <div class="row-cols-md-6">
        <label for="paisOrigem" class="form-label">País de Origem</label>
        <input type="text" asp-for="PaisOrigem" class="form-control" placeholder="Digite o país de origem">
        @Html.ValidationMessageFor(x => x.PaisOrigem)
    </div>

    <div class="col-md-6">
        <label for="anoFundacao" class="form-label">Ano de Fundação</label>
        <input type="text" asp-for="AnoFundacao" class="form-control" min="1880" max="@DateTime.Now.Year" placeholder="Digite o ano">
        @Html.ValidationMessageFor(x => x.AnoFundacao)
    </div>

    <div class="col-md-6">
        <label asp-for="Website" class="form-label"></label>
        <input type="text" asp-for="Website" class="form-control" placeholder="Digite a URL">
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Cadastrar</button>
        <a class="btn btn-light" asp-controller="Fabricantes" asp-action="Index" role="button">Voltar</a>
    </div>
</form>