@model string

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h3 style="color:#585858">Criar Role</h3>
    </div>
</header>

<hr />

<a asp-action="Index" class="btn btn-primary">Voltar</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Criar</button>
</form>