@using SistemaDeGestao.Enums
@model UsuarioModel
@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<div class="text-center">
    <h3 style="color:#585858">Cadastro de Usuários</h3>
</div>

<form asp-controller="Usuarios" asp-action="Cadastrar" method="post" class="row g-3 ">

    <div class="row-cols-md-6" >
        <label for="nomeUsuario" class="form-label">Nome do Usuario</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do Usuario">
    </div>

    <div class="row-cols-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o Email">
    </div>

    <div class="col-md-6">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário">
    </div>

    <div class="col-md-6">
        <label for="basic-url" class="form-label">Perfil</label>       
        <select class="form-select" asp-for="Perfil">
            <option value="0">Selecione o perfil</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Vendedor">Vendedor</option>
            <option value="@PerfilEnum.Gerente">Gerente</option>
        </select>      
    </div>

    <div class="col-md-6">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Digite uma senha">
    </div>

    <div class="col-12">
        <button class="waves-effect waves-light btn" type="submit">Cadastrar</button>
        <a class="btn btn-light" asp-controller="Usuarios" asp-action="Index" role="button">Voltar</a>
    </div>
</form>