<br />
<img src="" alt="Área de Administração" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Bem Vindo a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volar a Página Inicial</a>
</div>
