@{
    Layout = "_layoutDeslogada";
    ViewData["Title"] = "Página Restrita";
}
<br />

<p class="text-center">Você não possui permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">click aqui para voltar a página inicial</a></p>