
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Menu";
}

<div class="row text-center" style="margin-top:120px">
    <div class="col-md-3">
        <div class="row">
            <a class="vendas" asp-controller="Vendas" asp-action="Index">Vendas></a>
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <a class="veiculos" asp-controller="Veiculos" asp-action="Index">Veículos</a>
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <a class="concessionarias" asp-controller="Concessionarias" asp-action="Index">Concessionárias</a>
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <a class="fabricantes" asp-controller="Fabricantes" asp-action="Index">Fabricantes</a>
            
        </div>
    </div>  

</div> 
@if (User.IsInRole("Administrador") || User.IsInRole("Gerente"))
{
    <div class="row texte-center" style="margin-top:100px; margin-left:100px">
        <div class="col-md-3">
            <div class="row">
                <a class="relatorios" asp-controller="RelatoriosVenda" asp-action="Index">Relatórios</a>
            </div>
        </div>
    </div>
}

