@model VendasModel


<div class="text-center">
    <h3 style="color:#585858">Realmente deseja apagar a Venda (@Model.ProtocoloVenda)</h3>
</div>

<br />

<a class="btn btn-success" role="button" asp-route-id="@Model.Id" asp-controller="Vendas" asp-action="Deletar">Confirmar</a>
<a class="btn btn-primary" role="button" asp-controller="Vendas" asp-action="Index">Cancelar</a>